@import "../breakpoints";
@import "fluid";

@mixin body() {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

@mixin number() {
  font-weight: 900;
  font-size: 24px;
  line-height: 1;
}

@mixin nav-item() {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;

  @media screen and (min-width: $screen-d) {
    letter-spacing: 0.05em;
  }
}

@mixin button-small() {
  font-weight: 900;
  font-size: 14px;
  line-height: 1.1429;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

@mixin button-default() {
  font-weight: 900;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

@mixin button-mobile() {
  font-weight: 900;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

@mixin cart-price() {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
}

@mixin cart-counter() {
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
}

@mixin section-title() {
  font-weight: 900;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  @media screen and (min-width: $screen-tl) {
    font-size: 40px;
    letter-spacing: 0.03em;
  }
}

@mixin tile-title() {
  font-weight: 900;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  @media screen and (min-width: $screen-d) {
    font-size: 24px;
  }
}

@mixin sale-title() {
  font-weight: 900;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  @media screen and (min-width: $screen-tl) {
    font-size: 40px;
    letter-spacing: 0;
  }

  @media screen and (min-width: $screen-d) {
    font-size: 56px;
  }
}

@mixin card-title() {
  font-weight: 900;
  font-size: 24px;
  line-height: 1;

  @media screen and (min-width: $screen-d) {
    font-size: 44px;
  }
}

@mixin panel-title() {
  font-weight: 900;
  font-size: 24px;
  line-height: 1;
}

@mixin form-title() {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;

  @media screen and (min-width: $screen-tl) {
    font-size: 32px;
  }
}

@mixin small() {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;

  @media screen and (min-width: $screen-d) {
    font-size: 14px;
  }
}

@mixin amount() {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}

@mixin price() {
  font-weight: 900;
  font-size: 32px;
  line-height: 1;
}

@mixin price-old() {
  font-weight: 900;
  font-size: 24px;
  line-height: 1;
}

@mixin faq-title() {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;

  @media screen and (min-width: $screen-tl) {
    font-size: 24px;
  }

  @media screen and (min-width: $screen-d) {
    font-size: 32px;
  }
}

@mixin footer-info() {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
}
