@import "../../scss/mixins/text-styles";

.checkbox {
  $block-name: &; // #{$block-name}__element

  position: relative;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-self: start;

  &__input {
    position: absolute;
    width: 16px;
    height: 16px;
    opacity: 0;
  }

  &__fake-input {
    width: 24px;
    height: 24px;
    padding: 6px;
    background: var(--color-white);
    border: 1px solid var(--color-primary-o-25);
    border-radius: 2px;
    cursor: pointer;
    transition: background 0.125s ease;

    &::after {
      display: block;
      width: 10px;
      height: 10px;
      border: 3px solid transparent;
      transition: border-color 0.125s ease;
      content: "";
    }
  }

  &__input:checked + &__fake-input {
    background: var(--color-white);
  }

  &__input[disabled] + &__fake-input {
    border: 1px solid var(--color-primary-o-10);
    cursor: not-allowed;
  }

  &__input[disabled]:checked + &__fake-input {
    background: var(--color-primary-o-10);
    border: 1px solid var(--color-primary-o-10);
    cursor: not-allowed;
  }

  &__input:checked + &__fake-input::after {
    border-color: var(--color-violet-medium);
  }

  &__input[disabled]:checked + &__fake-input::after {
    border-color: var(--color-violet-medium);
    opacity: 0.5;
  }

  &__label {
    font-size: 12px;
    line-height: 1.25;
    cursor: pointer;
    user-select: none;
  }

  &__input[disabled] ~ &__label {
    color: var(--color-primary-o-10);
    cursor: not-allowed;
  }
}
