//- Все примеси в этом файле должны начинаться c имени блока (section)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт
//- в сборку

mixin section-title(title, mods)

  //- Принимает:
  //-   title   {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +section('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if (typeof (mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' section__title--' + modsList[i].trim();
      }
    }

  h2.section__title(class=allMods)&attributes(attributes)!= title
    .section__after
      svg.section__texture
        use(href='img/svgSprite.svg#img__texture')
