@import "../../scss/breakpoints";

.ask {
  $block-name: &; // #{$block-name}__element

  &__form {
    display: grid;
    gap: 16px;

    @media screen and (min-width: $screen-tl) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: $screen-d) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &__form-col {
    display: grid;
    gap: 16px;
    align-self: start;
  }

  :is(&) &__textarea {
    height: 160px;
  }

  :is(&) &__button {
    padding: 11px;
  }
}
