extends ../templates/layout_default.pug

block variables
  - isMainPage = false
  - pageTitle = 'Вход'
  - metaDescription = 'description'
  - metaKeywords = 'keywords'

block content
  section.section
    .container
      form.form.form--login
        h2.form__title Вход
        .form__grid
          +field('email', '', 'Почта')
          +field('password', '', 'Пароль', '', 'password')
          .field.field--flex
            label.checkbox
              input.checkbox__input(type='checkbox')
              span.checkbox__fake-input
              span.checkbox__label Запомнить меня
            a.form__forget(href='forget.html') Забыл пароль
          +button('button', 'Зарегистрироваться', 'primary')(class='form__button', disabled)
        a.form__link(href='registration.html') У меня есть аккаунт
