extends ../templates/layout_default.pug

block variables
  - isMainPage = false
  - pageTitle = 'Стартовая страница'
  - metaDescription = 'description'
  - metaKeywords = 'keywords'

block append head
  style.
    .dev-nav {
      padding: 24px 0;
    }

    .dev-nav__title {
      margin: 0 0 24px;
      font-size: 24px
    }

    .dev-nav__list {
      margin: 0;
      padding: 0;
      list-style: none;
      border: 1px solid var(--color-primary-o-50)
    }

    .dev-nav__li + .dev-nav__li {
      border-top: 1px solid var(--color-primary-o-50)
    }

    .dev-nav__link {
      display: block;
      padding: 16px 24px;
      color: inherit;
      text-decoration: none;
      -webkit-transition: background .25s ease;
      transition: background .25s ease
    }

    .dev-nav__link:hover {
      background: var(--color-violet-light-o-10)
    }

block content
  -
    const pages = [
      {
        title: 'Главная страница',
        url: 'main'
      },
      {
        title: 'Магазин',
        url: 'shop'
      },
      {
        title: 'Инвентарь',
        url: 'inventory'
      },
      {
        title: 'Профиль',
        url: 'profile'
      },
      {
        title: 'Пополнение',
        url: 'payment'
      },
      {
        title: 'Вопрос-Ответ',
        url: 'faq'
      },
      {
        title: 'Регистрация',
        url: 'registration'
      },
      {
        title: 'Авторизация',
        url: 'authorisation'
      },
      {
        title: 'Забыл пароль',
        url: 'forget'
      }
    ]
    const devPages = [
      {
        title: 'Состояния',
        url: 'states'
      }
    ]

  mixin devNavItem(arr)
    ul.dev-nav__list
      each item in arr
        li.dev-nav__li
          a.dev-nav__link(href= item.url + '.html')!= item.title

  section.section
    .container
      .dev-nav
        h1.dev-nav__title Страницы проекта
        +devNavItem(pages)
      .dev-nav
        h1.dev-nav__title Служебные
        +devNavItem(devPages)
