extends ../templates/layout_default.pug

block variables
  - isMainPage = false
  - isLogin = true
  - pageTitle = 'Инвентарь'
  - metaDescription = 'description'
  - metaKeywords = 'keywords'

block content
  section.section
    .container.container--wide
      +section-title('Инвентарь', 'ginger')

      .cols
        .cols__aside
          .inventory
            .inventory__inner
              +button('button', 'Выбрать все', 'tertiary')(class='inventory__button', id='inventoryAll')
              +button('button', 'Снять выделение', 'tertiary')(class='inventory__button', id='inventoryNone')
              +button('button', 'Вывести предметы', 'primary')(class='inventory__submit')
        .cols__grid
          each card in [1, 2, 3, 4, 5, 6, 7]
            label.card-inventory
              input.card-inventory__checkbox(type= 'checkbox')
              .card-inventory__inner
                img.card-inventory__img(src=src.assets + 'img__product.webp', alt='Х.СВ.ЕР.ЛИ.Г.АН')
                .card-inventory__info
                  .card-inventory__title Х.СВ.ЕР.ЛИ.Г.АН
                  .card-inventory__row
                    .card-inventory__price #[span 325] ₽
