extends ../templates/layout_default.pug

block variables
  - isMainPage = true
  - isLogin = true
  - pageTitle = 'Главная страница'
  - metaDescription = 'description'
  - metaKeywords = 'keywords'

block content
  -
    var collection = [
      {
        title: 'Godly',
        href: '#',
        image: 'img__collection--godly.webp'
      },
      {
        title: 'Vintage',
        href: '#',
        image: 'img__collection--vintage.webp'
      },
      {
        title: 'Pets',
        href: '#',
        image: 'img__collection--pets.webp'
      },
      {
        title: 'Ancient',
        href: '#',
        image: 'img__collection--ancient.webp'
      },
      {
        title: 'Hroma',
        href: '#',
        image: 'img__collection--hroma.webp'
      }
    ]

  section.hero
    img.hero__image(src=src.assets + 'img__hero.webp', alt='Лучший магазин MM2')
  section.section.collection
    .container
      +section-title('Наши коллекции', 'ginger')
      .collection__grid
        each item in collection
          a.collection__item(href= item.href)
            img.collection__image(src= src.assets + item.image, alt='item.title')
            h3.collection__title!= item.title
  section.discount
    .container
      .discount__inner
        h2.discount__title Успей купить со скидкой 50% прямо сейчас!
        .discount__card
          img.discount__card-image(src=src.assets + 'img__product.webp', alt='Х.СВ.ЕР.ЛИ.Г.АН')
          .discount__card-info
            .discount__card-title Х.СВ.ЕР.ЛИ.Г.АН
            .discount__card-row
              .discount__card-old-price 650 ₽
              .discount__card-price 325 ₽
            .discount__card-actions
              +number('', 10)(class='discount__number')
              +button('button', 'В корзину')(class='discount__button')
            .discount__small Discounted Full Chroma Bundle with Chroma Saw, Chroma Tides, Chroma Fang, Chroma Slasher, Chroma Heat, Chroma Gingerblade, Chroma Boneblade, Chroma Gemstone, Chroma Seer, Chroma Deathshard.
  +faq
