extends ../templates/layout_default.pug

block variables
  - isMainPage = false
  - pageTitle = 'Регистрация'
  - metaDescription = 'description'
  - metaKeywords = 'keywords'
  - emptyCart = true

block content
  section.section
    .container
      form.form.form--registration
        h2.form__title Регистрация
        .form__grid
          +field('text', '', 'Никнейм')
          +field('email', '', 'Почта')
          +field('password', '', 'Пароль', '', 'password')
          +field('password', '', 'Повтор пароля', '', 'passwordRepeat')
          .form__message
            .form__message-title Требования к паролю:
            ul.form__message-list
              li.form__message-item Пароли должны совпадать
              li.form__message-item Минимальная длина пароля — 4 символа
          .field
            label.checkbox
              input.checkbox__input(type='checkbox')
              span.checkbox__fake-input
              span.checkbox__label Я согласен с #[a.link(href='#') политикой конфиденциальности] и #[a.link(href='#') пользовательским соглашением]
          +button('button', 'Зарегистрироваться', 'primary')(class='form__button', disabled)
        a.form__link(href='authorisation.html') У меня есть аккаунт
