extends ../templates/layout_default.pug

block variables
  - isMainPage = false
  - pageTitle = 'Состояния'
  - metaDescription = 'description'
  - metaKeywords = 'keywords'
  - isLogin = true
  - emptyCart = true

block content
  section.section
    .container content filler
