@import "../../scss/breakpoints";
@import "../../scss/mixins/flexbox";
@import "../../scss/mixins/list-reset";
@import "../../scss/mixins/text-styles";

.panel {
  $block-name: &; // #{$block-name}__element

  display: flex;
  flex-direction: column;
  height: 100%;
  color: var(--body-color);
  background: var(--color-white);
  box-shadow: var(--tile-shadow);

  &__header {
    @include flex-center-sb;

    flex: 0 0 auto;
    height: 80px;
    padding: 16px;

    @media screen and (min-width: $screen-tl) {
      height: 96px;
      padding: 24px 24px 24px 40px;
    }
  }

  &__amount {
    @include amount;

    margin-top: 3px;
  }

  &__scroll {
    flex: 1 0 auto;
    //max-height: calc(100% - 184px);

    @media screen and (min-width: $screen-tl) {
      //max-height: calc(100% - 224px);
    }

    &.simplebar-scrollable-y {
      padding-right: 16px;
    }
  }

  &__body {
    padding: 16px;

    @media screen and (min-width: $screen-tl) {
      padding: 24px 40px;
    }
  }

  &__filler {
    padding: 15px;
    color: var(--color-primary-o-25);
    text-align: center;
    border: 1px solid var(--color-primary-o-10);
    border-radius: 4px;
  }

  &__list {
    @include list-reset;

    display: grid;
    gap: 8px;
  }

  &__footer {
    display: grid;
    flex: 0 0 auto;
    gap: 16px;
    padding: 16px;
    background-color: var(--color-white);
    box-shadow: var(--footer-shadow);

    @media screen and (min-width: $screen-tl) {
      padding: 24px 40px;
    }
  }

  &__row {
    display: flex;
    gap: 16px;
  }

  &__title {
    @include panel-title;

    margin: 0;
  }

  &__close {
    margin: 0 -8px 0 0;
    padding: 8px;
    border: none;
    cursor: pointer;

    @media screen and (min-width: $screen-tl) {
      margin: 0;
      padding: 0;
    }
  }

  &__icon {
    width: 32px;
    height: 32px;
    color: var(--color-violet-medium);
    pointer-events: none;

    @media screen and (min-width: $screen-tl) {
      width: 48px;
      height: 48px;
    }
  }

  &__cart-total {
    display: flex;
    gap: 24px;
    align-items: baseline;
    justify-content: space-between;
  }

  &__cart-total-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 1;
  }

  &__cart-total-price {
    color: var(--color-violet-medium);
    font-weight: 900;
    font-size: 24px;
    line-height: 1;
  }

  &__cart-actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;

    @media screen and (min-width: $screen-tl) {
      gap: 24px;
    }
  }

  &__button {
    width: 100%;

    @media screen and (min-width: $screen-tl) {
      padding: 11px;
    }
  }
}
