@import "../../scss/mixins/flexbox";
@import "../../scss/mixins/text-styles";

.field {
  $block-name: &; // #{$block-name}__element

  position: relative;

  &--flex {
    @include flex-center-sb;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__show {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 2;
    padding: 4px;
    color: var(--color-violet-medium);
    border: none;
    cursor: pointer;
  }

  &__icon {
    width: 24px;
    height: 24px;
    pointer-events: none;
  }

  #{$block-name}__show--active &__eye {
    display: none;
  }

  &__eye-off {
    display: none;

    #{$block-name}__show--active & {
      display: block;
    }
  }

  &__label {
    color: var(--color-violet-medium);
    font-weight: 700;
    font-size: 12px;
    line-height: 1.3334;
    text-transform: uppercase;
  }

  &__input {
    width: 100%;
  }
}
