@import "../../scss/breakpoints";
@import "../../scss/mixins/flexbox";
@import "../../scss/mixins/text-styles";

.number {
  $block-name: &; // #{$block-name}__element

  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  height: 48px;
  padding: 0 27px;
  border: 1px solid var(--color-primary-o-25);
  border-radius: 2px;

  @media screen and (min-width: $screen-d) {
    padding: 0 40px;
  }

  &__input {
    @include number;

    display: block;
    width: 100%;
    height: 100%;
    padding: 7px 0;
    color: var(--color-grayscale-80);
    font-family: var(--font-sans);
    text-align: center;
    border: none;
    outline: none;
    appearance: none;
    pointer-events: none;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    margin: 0;
    appearance: none;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  &__button {
    @include flex-center;
    @include number;

    position: absolute;
    top: 0;
    z-index: 2;
    aspect-ratio: 1 / 1;
    max-width: 48px;
    height: 100%;
    color: var(--color-grayscale-80);
    border: none;
    cursor: pointer;
    transition: color 0.25s ease, opacity 0.25s ease;
    appearance: none;

    &--sub {
      left: 0;
    }

    &--add {
      right: 0;
    }

    &--disabled,
    &--disabled:hover {
      color: var(--color-grayscale-100);
      opacity: 0.25;
      pointer-events: none;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      color: var(--color-grayscale-100);
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    color: inherit;
    pointer-events: none;
  }
}
