@import "../../scss/breakpoints";

.card-inventory {
  $block-name: &; // #{$block-name}__element

  display: block;
  cursor: pointer;

  &__checkbox {
    position: absolute;
    width: 16px;
    height: 16px;
    opacity: 0;
  }

  &__inner {
    padding-top: 16px;
    background-color: var(--color-white);
    border-radius: 2px;
    box-shadow: var(--tile-shadow);
    transition: box-shadow 0.25s ease;

    @media screen and (min-width: $screen-d) {
      padding: 0;
    }

    #{$block-name}__checkbox:checked + & {
      box-shadow: var(--tile-shadow-hover), inset 0 -2px 0 var(--color-violet-medium);
    }
  }

  &__img {
    display: block;
    width: 100%;
    max-width: 240px;
    height: auto;
    margin: 0 auto;
    border-radius: 2px;
    aspect-ratio: 1 / 1;
  }

  &__info {
    padding: 16px;
  }

  &__title {
    color: var(--color-violet-dark);
    font-weight: 900;
    font-size: 14px;
    line-height: 1.15;
    word-break: break-all;

    @media screen and (min-width: $screen-t) {
      font-size: 16px;
      line-height: 1;
    }
  }

  &__row {
    display: flex;
    gap: 8px;
    align-items: baseline;
    margin-top: 4px;
  }

  &__old-price {
    color: var(--color-ginger);
    font-weight: 700;
    font-size: 12px;
    line-height: 1;
    text-decoration-line: line-through;
  }

  &__price {
    color: var(--color-violet-medium);
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
  }
}
