@import "../../scss/breakpoints";
@import "../../scss/mixins/flexbox";
@import "../../scss/mixins/text-styles";

.wallet {
  $block-name: &; // #{$block-name}__element

  display: flex;
  gap: 8px;
  align-items: center;
  padding: 4px 16px 4px 12px;
  color: var(--color-vk);
  text-decoration: none;
  background-color: var(--color-vk-o-10);
  border-radius: 2px;
  transition: background-color 0.25s ease;

  &[href]:hover {
    background-color: var(--color-vk-o-25);
  }

  &__icon {
    width: 32px;
    height: 32px;
    color: inherit;
  }

  &__title {
    @include cart-price;

    text-align: right;
  }
}
