//- Все примеси в этом файле должны начинаться c имени блока (header)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт в сборку

mixin header(mods)

  //- Принимает:
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +header('some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' header--' + modsList[i].trim();
      }
    }

  header.header(class= allMods)&attributes(attributes)
    .header__inner
      if isMainPage
        .header__logo
          svg.logo
            use(href= src.icon + 'logo__cheburek')
      else
        a.header__logo(href='/')
          svg.logo
            use(href= src.icon + 'logo__cheburek')
      .header__row
        .header__nav-scroll
          nav.header__nav
            a.header__nav-item(href='shop.html') Магазин
            a.header__nav-item(href='inventory.html') Инвентарь
            a.header__nav-item(href='faq.html') FAQ
            a.header__nav-item(href='instruction.html') Инструкция
      if isLogin
        .header__user
          +wallet(142, 'link')(class='header__wallet')
          .header__divider
          .account.header__account
            a.account__inner(href='profile.html')
              .account__name Nickname
              .account__email mail@mail.ru
            button.account__button
              svg.account__icon
                use(href='img/svgSprite.svg#icon__logout')
      else
        .header__user
          +button('link', 'Профиль', '', '', '', 'authorisation.html')
