@import "../../scss/breakpoints";

.cols {
  $block-name: &; // #{$block-name}__element

  display: grid;
  gap: 16px;

  @media screen and (min-width: $screen-tl) {
    grid-template-columns: 264px auto;
    gap: 40px;
  }

  @media screen and (min-width: $screen-d) {
    gap: 64px;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;

    @media screen and (min-width: $screen-t) {
      grid-template-columns: 1fr 1fr;
      gap: 24px;
    }

    @media screen and (min-width: $screen-tl) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media screen and (min-width: $screen-d) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (min-width: $screen-dl) {
      grid-template-columns: repeat(5, 1fr);
    }

    @media screen and (min-width: $screen-dxl) {
      grid-template-columns: repeat(6, 1fr);
    }
  }
}
